@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  color: white;
  box-sizing: border-box;
}

.App {
  font-family: "Overpass", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);
}

.navbar {
  width: 100%;
  font-weight: 600;
  background-color: black;
  color: #f1f3f6;
  display: flex !important;
  justify-content: space-between !important;
  padding: 1% 2% !important;
}

.jumbotron {
  width: 100%;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2% 0;
}

p {
  color: #c8c8c8;
  font-size: 24px;
  font-weight: 700;
}

h2 {
  text-align: center;
  font-weight: 600;
}

/* -------------------Input Inspect--------------------- */
.search-box {
  width: 100%;
  position: relative;
  /* display: flex;
  justify-content: center; */
}
.search-input {
  width: 50%;
  padding: 10px;
  border: 4px solid white;
  border-radius: 10px 0 0 10px;
  border-right: none;
  outline: none;
  font-size: 20px;
  color: whitesmoke;
  background: none;
}
.search-button i {
  color: black;
}
.search-button {
  text-align: center;
  height: 58px;
  width: 40px;
  outline: none;
  cursor: pointer;
  border: 4px solid white;
  color: black;
  background-color: white !important;
  border-radius: 0 10px 10px 0;
  border-left: none;
  background: none;
  font-size: 20px;
  border-left: 4px solid white;
}
.container {
  /* width: 35%; */
  /* position: absolute; */
  text-align: center;

  /* left: 40%; */
  top: 20%;
  /* transform: translate(-50% , -50%); */
}
.green{
  color: #01be47;
}
pre{
  text-align: left;
}

/* ----------------------------------------------------- */

.tabler{
  color: white;
  /* display: flex; */
  /* flex-direction: column; */
}
